@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #eceef1;
  font-family: "Open Sans", helvetica, sans-serif;
  color: #333a45;
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Yesteryear", cursive;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #fff;
  transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}
.card.is-expanded .card__inner .fa:before {
  content: "";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #fff;
  transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n+4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n+3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}

.agenda h2 {
  font-size: 24px;
  font-weight: 600;
}
.evenement {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.evenement:last-child {
  border-bottom: none;
}
.evenement h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.evenement ul {
  list-style: none;
  padding-left: 0;
}
.evenement ul li {
  display: flex;
  font-size: 13px;
  margin-bottom: 15px;
}
.evenement ul li span.heure {
  min-width: 45px;
  width: 45px;
  margin-right: 12px;
  text-align: right;
  font-weight: 600;
}
.evenement ul li span.titreevenement {
}
.evenement ul li span.remarqueHoraire {
  font-style: italic;
}


/* --- Swiper Slider --- */
.swiper-container {
  width: 100%;
  max-width:450px;
  height: auto;
  padding: 15px 0;
}
.swiper-slide {
  -webkit-user-select: none;
  -moz-user-select: none;
  position: relative;
  height: 280px;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  background-image: linear-gradient(-30deg, #f6d365 0%, #fda085 100%);
  box-shadow: 0 2px 10px -1px rgba(0,0,0,0.1);
}
.swiper-slide.vert {
  background-image: linear-gradient(-32deg, #94e393 0%, #00b39a 100%);
}
.swiper-slide.aqua {
  background-image: linear-gradient(-32deg, #00d9b3 0%, #008a99 100%);
}
.swiper-slide.bleu {
  background-image: linear-gradient(-32deg, #14a6f4 0%, #5951ff 100%);
}
.swiper-slide.mauve {
  background-image: linear-gradient(-32deg, #854cf9 0%, #473ac4 100%);
}
.swiper-slide.violet {
  background-image: linear-gradient(-32deg, #ff89c9 0%, #4c336e 100%);
}
.swiper-slide.rouge {
  background-image: linear-gradient(-32deg, #FF9A8B 0%, #FF6A88 100%);
}
.swiper-slide.orange {
  background-image: linear-gradient(-32deg, #f6d365 0%, #fda085 100%);
}
.swiper-slide.jaune {
  background-image: linear-gradient(-32deg, #e4ff7e 0%, #ffcf54 100%);
}
.swiper-slide .no-cours {
  display: block;
  clear: both;
  font-size: 15px;
  font-weight: 600;
}
.swiper-slide .titre-cours {
  display: block;
  clear: both;
  margin-top: 5px;
}
.titre-cours{
  position:relative;
}
.rupiah{
  font-size:13px;
  position:absolute;
  top:0px;
}
.swiper-slide .titre-cours .harga {
  margin-top: 10px;
  font-size: 43px;
  letter-spacing: 0.02em;
  padding-left:20px;
}
.swiper-slide .titre-cours h2 a {
  color: #fff;
  text-decoration: none;
}
.small{
  font-size:13px;
}

/* Notifications - Pastilles */
.swiper-slide .notifications-pastille {
  display: block;
  position: absolute;
  right: 20px;
  top: -12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 50px;
  background-color: #f95e5e;
}
.swiper-slide .notifications-pastille-02 {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 24px;
  height: 24px;
  background-image: url(https://oraprdnt.uqtr.uquebec.ca/Gsc/radar_marc/img/ico-notification.svg);
  background-position: center center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

/* Notifications au bas */
.swiper-slide ul.notifications-cours {
  list-style: none;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  padding-left: 0;
}
.swiper-slide ul.notifications-cours li {
  font-size: 14px;
  margin-bottom: 3px;
}
.swiper-slide ul.notifications-cours li strong {
  font-weight: 600;
}






/* --- Loader entre les pages (transition) --- */

#loader-wrapper {
  

  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F9FAFB;
  z-index: 1000;
  opacity: 1;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 500px;
  border: 4px solid transparent;
  border-top-color: #19C785;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 500px;
  border: 4px solid transparent;
  border-top-color: #6CE94A;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 500px;
  border: 4px solid transparent;
  border-top-color: #E9C834;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

/* Loaded */
.loaded #loader {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;
}
.loaded #loader-wrapper {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


/* --- Keyframes --- */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}
